
/* 
GENERAL
*/

* {
    font-family: 'Raleway', sans-serif;   
}

html {
    scroll-behavior: smooth;
}

/* 
    VARIABLES
*/
:root {
    /* Color Palette */
    
    --top_bottom_bg:#4e5166;
    --section_1_bg:#5CA4A9;
    --section_2_bg:#FFFFFF;
    --info_bg:#7C90A0;
    --card_1_bg:#A40E4C;
    --card_2_bg:#747C92;
    --card_3_bg:#0A0A0A;
    --card_4_bg:#5171A5;
    --card_5_bg:#372772;
    --card_6_bg:#B5AA9D;

}

.nav_bg {
    background-color: var(--top_bottom_bg);
}

.section_1_bg {
    background-color: var(--section_1_bg);
}

.section_2_bg {
    background-color: var(--section2_bg);
}

.info_box_bg {
    background-color: var(--info_bg);
}

.footer_bg {
    background-color: var(--top_bottom_bg);
}

.card_1_bg {
    background-color: var(--card_1_bg);
}

.card_2_bg {
    background-color: var(--card_2_bg);
}

.card_3_bg {
    background-color: var(--card_3_bg);
}

.card_4_bg {
    background-color: var(--card_4_bg);
}

.card_5_bg {
    background-color: var(--card_5_bg);
}

.card_6_bg {
    background-color: var(--card_6_bg);
}

.link_color {
    color: var(--section_1_bg);
}

.hr_white {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    color: white;
}

.hr_black {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9375rem;
    color: black;
}

.hr_white::before,
.hr_white::after {
    content: "";
    width: 20%;
    max-width: 12.5rem;
    height: .3125rem;
    border-radius: .1875rem;
    background-color: white;
}

.hr_black::before,
.hr_black::after {
    content: "";
    width: 20%;
    max-width: 6.25rem;
    height: .3125rem;
    border-radius: .1875rem;
    background-color: black;
}

.card {
    width: 100%;
    height: 12.5rem;
    margin-bottom: .625rem;
}

